@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}
/* banner section styles */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.banner-content{
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content p{
    font-size: 32px ;
    font-weight: 400;
}
.banner-content h1{
    font-size: 72px ;
    font-weight: 900;
}
/* 65% section */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.second-section-content p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.img-container{
    width: 100%;
height: 100%;
}
/* midnight section */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 0px auto;
    margin-top: 240px;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    background-image: url(images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}
.leftside-content{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
padding: 30px;
text-align: left;
}
.leftside-content h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
}
#midnight-btn{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
margin-left: 30px;
}
.rightside-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside-content img {
    width: 349.16px;
    height: 464.65px;
}
/* Event details section */
.event-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-content{
    width: 549px;
    height: 168px;
    margin-top: 120px;
    margin-bottom: 100px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.event-details{
color: rgb(255, 0, 0) ;
}
.btn{
    width: 167px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
}
/* new offer section */
.new-offer-container{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-color: blue;
text-align: center;
}
.left-container{
    width: 393px;
    height: 463px;
}
.left-content{
width: 393px;
height: 255px;
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
padding-top: 50px;
padding-right: 70px;
}
.title{
    width: 207px;
    height: 29px;
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.heading{
    width: 328px;
    height: 60px;
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.middle-content{
    width: 463px;
height: 463px;
    
}
.img{
    width: 364.84px;
height: 364.84px;
box-sizing:border-box;
border: 15px solid rgb(255, 0, 0);
}
.right-container{
    width: 394px;
    height: 463px;
}
.rc-content{
    height: 463px;
    width: 356px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rc-text{
    width: 276px;
    height: 160px;
    text-align: right;
    padding-top: 112px;
    padding-bottom: 181px;
    padding-left: 118px;
}
.rc-header{
    width: 126px;
height: 58px;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: left;

}
.rc-description{
    width: 276px;
height: 96px;
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: left;
}
.HNY{
    width: 140px;
height: 140px;
background: linear-gradient(180.00deg, rgb(248, 246, 251) 16.255%,rgb(239, 220, 251) 88.721%);
}
